<html>
    <link rel= "stylesheet" type= "text/css" href= "static/css/bottombar.css">
    <div class="bottom-bar">
        <a href="https://www.instagram.com/badgerclubtennis/"><img class="instagram-photo" src="static/images/instagram logo.png"></a>
        <a href="https://www.facebook.com/Tennis-Club-UW-Madison-115176311903266/"><img class="facebook-photo" src="static/images/facebook logo.png"></a>
        
    </div>
    <div class="copyright-bar">
        <small class="copyright">© Wisconsin-Madison Club Tennis 2022</small>
    </div>
</html>